[Desktop Entry]
Encoding=UTF-8
Name=MlGui
Comment[de]=Mldonkey Gui-Client
Comment[tr]=Mldonkey Gui-istemcisi
Comment=Mldonkey Gui-Client
Exec=mlgui
Icon=mlgui.png
Terminal=false
Type=Application
Categories=Application;Network;
