[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=xsane
Icon=/usr/share/sane/xsane/xsane-logo.xpm
Terminal=false
GenericName=Graphical scanning frontend
GenericName[tr]=Grafiksel Tarayıcı Önucu
Name=Xsane
Categories=Qt;KDE;Graphics;