[Desktop Entry]
Encoding=UTF-8
Name=pgAdmin III
Comment=Graphical client for PostgreSQL
GenericName=PostgreSQL Tools
GenericName[tr]=PostgreSQL Grafik Arabirimi
Exec=/usr/bin/pgadmin3
Icon=pgadmin3
Type=Application
Categories=Application;Development;
