[Desktop Entry]
Encoding=UTF-8
Name=K-3D
Comment=3D modeling and animation
Comment[tr]=3B Modelleme ve Animasyon
Exec=k3d
Icon=k3d
Terminal=false
Type=Application
Categories=Application;Graphics;
