[Desktop Entry]
Categories=KDE;Application;Utility
Encoding=UTF-8
Exec=acetoneiso2
Icon=/usr/share/pixmaps/Acetino2.png
Name=AcetoneISO2
GenericName= a CD/DVD image Tool
GenericName[it]= strumento per immagini CD/DVD
GenericName[tr]= CD/DVD Görüntüsü Aracı
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
