[Desktop Entry]
Encoding=UTF-8
Name=QtScrobbler
Comment=last.fm log uploader
Comment[tr]=last.fm log yükleyici
GenericName=last.fm log uploader
GenericName[tr]=last.fm log yükleyici
Exec=qtscrob
Icon=qtscrob.png
Terminal=false
Type=Application
Categories=Application;Network