[Desktop Entry]
Encoding=UTF-8
Name=SUPER MARIO
Name[tr]=Süper MARIO
Comment=SUPER MARIO CLON
Comment[tr]=SÜPER MARIO KLONU
Exec=smc
Icon=smclone.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
