[Desktop Entry]
Categories=KDE;Application;System;
Encoding=UTF-8
Exec=qtfprot
GenericName=Anti-virus
GenericName[tr]=Anti-Virüs
Comment=Anti-virus software
Comment[tr]=Anti-virus yazılımı
Icon=/usr/share/icons/locolor/32x32/apps/qtfprot.png
Name=QtFprot
Name[tr]=QtFprot
Terminal=false
Type=Application


