[Desktop Entry]
Type=Application
Name=qsampler
GenericName=GUI front-end application for LinuxSampler
GenericName[tr]=LinuxSampler için kullanıcı arayüzü 
Exec=qsampler
Icon=/usr/share/icons/qsampler.png
Categories=Application;AudioVideo;
