[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Twinkle
Name[tr]=Twinkle
GenericName=A SIP softphone
GenericName[tr]=Bir SIP telefonu
Comment=A SIP softphone
Comment[tr]=Bir SIP telefonu
Exec=twinkle
Icon=/usr/kde/3.5/share/twinkle/twinkle48.png
StartupNotify=true
Terminal=false
Categories=Application;Network;
