[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=MilkyTracker
GenericName=Mod Tracker
GenericName[tr]=Mod Tracker
Comment=FastTracker 2 inspired music tracker
Comment[tr]=FastTracker 2 benzeri bir müzik yazılımı
Icon=milkytracker
Exec=milkytracker
TryExec=milkytracker
Categories=AudioVideo;Audio;AudioVideoEditing;
