[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Manslide
GenericName=Manslide
GenericName[tr]=Manslide
Icon=/usr/share/pixmaps/manslide.png
TryExec=manslide
Exec=Manslide
Terminal=false
Categories=Qt;KDE;Multimedia
