[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=CamStream
GenericName=Tools for webcams and video-devices
GenericName[tr]=Webcam ve Görüntü aygıları için araç
Comment=X11 Screencam
Comment[tr]=Webcam ve Görüntü aygıları için araç
Icon=camstream
Exec=camstream
Terminal=false
Categories=QT;KDE;Application;AudioVideo;Video;
