[Desktop Entry]
Encoding=UTF-8
Name=Tennix
Name[tr]=Tennix
Type=Application
Exec=tennix
Icon=tennix
GenericName=Tennis Game
GenericName[tr]=Tenis Oyunu
Comment=Tennis Game
Comment[tr]=Tenis Oyunu
Categories=Game;ArcadeGame;
