[Desktop Entry]
Categories=Application;Game;BoardGame;
Encoding=UTF-8
Exec=marbles
GenericName=Marbles
GenericName[tr]=Marbles
Icon=marbles.png
Name=marbles.desktop
Name[tr]=marbles.desktop
Terminal=false
Type=Application
Version=1.0
