[Desktop Entry]
Categories=Application;Game;BoardGame;
Encoding=UTF-8
Exec=marbles
GenericName=Marbles
GenericName[tr]=Bilyeler
Icon=marbles.png
Name=Marbles
Name[tr]=Bilyeler
Terminal=false
Type=Application
Version=1.0
