[Desktop Entry]
Categories=Qt;KDE;Utils
Comment=
Comment[tr]=
Encoding=UTF-8
Exec=keepass
GenericName=\sGenel şifreleme
GenericName[tr]=\sGenel şifreleme
Icon=passwd.png
MimeType=
Name=KeePassX
Name[tr]=KeePassX
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=keepass
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
