[Desktop Entry]
Categories=Application;AudioVideo;
Comment=
Comment[tr]=
Encoding=UTF-8
Exec=lmms
GenericName=Midi ve Wave Düzenleyici
GenericName[tr]=Midi ve Wave Düzenleyici
Icon=/usr/share/lmms/themes/default/icon.png
MimeType=
Name=MultiMediaStudio
Name[tr]=MultiMediaStudio
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
