[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=QtiPlot data analyse and plotting program
GenericName=QtiPlot
GenericName[tr]=QtiPlot veri işleme ve plotting yazılımı
Icon=/usr/share/pixmaps/qtiplot.png
TryExec=qtiplot
Exec=qtiplot
Terminal=false
Categories=Qt;KDE;Education;Science
