[Desktop Entry]
Encoding=UTF-8
Name=K-3D
Comment=3D modeling and animation
Exec=k3d
Icon=/usr/share/k3d/icons/k3d.png
Terminal=false
Type=Application
Categories=Application;Graphics;
