[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=FET timetable program
GenericName=FET timetable program
GenericName[tr]=FET ders programı haazırlama programı
Icon=/usr/share/pixmaps/fet.png
TryExec=fet
Exec=fet
Terminal=false
Categories=Qt;KDE;Education
