[Desktop Entry]
Name=Alien Arena 2007
Comment=Alien Arena 2007
Exec=AlienArena
Icon=/opt/alienarena2007/alienarena.xpm
Type=Application
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame
