[Desktop Entry]
Encoding=UTF-8
Name=SearchMonkey
GenericName=Find Files/Folders
GenericName[tr]=Dosya/Dizin Bul
Exec=searchmonkey
Icon=/usr/share/pixmaps/searchmonkey-32x32.png
Type=Application
Categories=GTK;Utility;Filesystem;