[Desktop Entry]
Encoding=UTF-8
Name=Krecordmydesktop
Name[tr]=Кrecordmydesktop
Exec=krecordmydesktop
Icon=krecordmydesktop
GenericName=Desktop Record
GenericName[tr]=
Terminal=false
Type=Application
Categories=Qt;KDE;Utility;
