[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=Second Life
Name[tr]=Second Life
GenericName=Second Life Client
GenericName[tr]=Second Life Arayüzü
Icon=secondlife
Exec=secondlife
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
