[Desktop Entry]
Encoding=UTF-8
Name=Loose Cannon
Name[tr]=Loose Cannon
Comment=Loose Cannon
Comment[tr]=Loose Cannon
Exec=/usr/bin/loosecannon
Icon=loosecannon.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
