[Desktop Entry]
Name=MySQL Query Browser
Comment=MySQL Query Tool
Comment[tr]=MySQL Sorgu Aracı
Exec=/opt/mysql-query-browser/bin/mysql-query-browser
Terminal=false
Type=Application
Icon=/opt/mysql-query-browser/share/mysql-gui/MySQLIcon_QueryBrowser_48x48.png
Categories=GTK;Database;Development;Application
