[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=SysTester
Name[tr]=SysTester
GenericName=System Stability Tester
GenericName[tr]=Sistem Kararlılık Ölçer
Icon=systester
Exec=systester
StartupNotify=true
Terminal=false
Categories=Qt;KDE;Application;Utility;
