[Desktop Entry]
Name=gnubg
Name[tr]=gnubg
GenericName=GNU Backgammon
GenericName[tr]=GNU Tavla Oyunu
Exec=gnubg
Icon=gnubg
Terminal=False
Type=Application
Categories=Application;Game
