[Desktop Entry]
Categories=Game;KidsGame;
Comment=Tux, of Math Command" ("TuxMath," for short)
Comment[tr]=Tux Matematik Oyunu
Encoding=UTF-8
Exec=tuxmath
FilePattern=tuxmath;
Icon=/usr/share/tuxmath/images/icon.png
Name=Tuxmath
Name[tr]=Tuxmath
StartupNotify=false
Terminal=false
TryExec=tuxmath
Type=Application
Version=1.0
