[Desktop Entry]
Comment=Super Nintendo game
Comment[tr]=Super Nintendo oyunu
Hidden=false
Icon=package_games_arcade
MimeType=application/smc
Patterns=*.smc
Type=MimeType
