[Desktop Entry]
Name=SMW
Name[tr]=SMW
GenericName=Super Mario Wars
GenericName[tr]=Süper Mario Savaşları
Comment=A Super Mario Clone
Comment[tr]=Bir Süper Mario oyunu
Icon=smw
Exec=smw
Terminal=0
Categories=Application;Game;
