[Desktop Entry]
Name=Super Mario Wars Level Editor
Name[tr]=Super Mario Savaşları Tur Düzenleyici
Icon=smw
Exec=leveledit
Terminal=0
Categories=Application;Game;
