[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=DrPython
GenericName=Integrated Development Environment for Python
GenericName[tr]=Python için Tümleşik Geliştirme Ortamı
Icon=drpython
Exec=drpython
Terminal=false
StartupNotify=false
Categories=Application;Development
