[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=Pang Zero
Name[tr]=Pang Zero
GenericName=A Fast-Paced Action Game
GenericName[tr]=Hızlı Aksiyon Oyunu
Comment=Popping balloons
Comment[tr]=Balon patlatmaca
Exec=pangzero
Icon=pangzero
StartupNotify=false
Terminal=false
Categories=Application;Game;ActionGame;
