[Desktop Entry]
Encoding=UTF-8
Name=Scythia
Name[tr]=Scythia
GenericName= FTP Client
GenericName[tr]=FTP istemcisi
Exec=scythia
Icon=scythia
Type=Application
Categories=Qt;KDE;Application;Network;
