[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=PlaneShift
Name[tr]=PlaneShift
GenericName=PlaneShift
GenericName[tr]=PlaneShift
Icon=planeshift
Exec=planeshift
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame
