[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Boa Constructor
GenericName=GUI IDE for wxPython
GenericName[tr]=wxPython için IDE
Icon=boa-constructor
Exec=boa-constructor
Terminal=false
StartupNotify=false
Categories=Application;Development
