[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Pida
Name[tr]=Pida
Name[fr]=Pida
GenericName=Python IDE for Vim and Emacs
GenericName[tr]=Vim ve Emacs için Python arayüzü
Icon=pida
Exec=pida
Terminal=False
Categories=Application;TextEditor;
MimeType=application/x-pida-project