[Desktop Entry]
Type=MimeType
Encoding=UTF-8
Comment=Pida project
Comment[tr]=Pida projesi
Comment[fr]=Projet Pida
MimeType=application/x-pida-project
Patterns=*.pidaproject
