[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Cairo-dock
Name[tr]=Cairo-dock
GenericName=Cairo-dock
GenericName[tr]=Cairo-dock
Icon=cairo-dock
Exec=cairo-dock
Terminal=false
StartupNotify=false
Categories=Application;Compiz;

