[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Calcoo
Name[tr]=Calcoo
GenericName=Scientific Calculator
GenericName[tr]=Bilimsel Hesap makinesi
Exec=calcoo
Icon=calcoo
Categories=Application;Education;Science;
