[Desktop Entry]
Name=Gcolor2
Name[tr]=Gcolor2
GenericName=A simple GTK+2 color selector
GenericName[tr]=Basit GTK+2 renk seçici
Comment=Choose colours from palette or screen
Comment[tr]=Paletten veya ekrandan renkleri seçin
Exec=gcolor2
Icon=gcolor2
Type=Application
Terminal=false
StartupNotify=true
Categories=Graphics;

