[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=wxGlade
GenericName=Glade-like GUI designer
GenericName[tr]=Glade benzeri arayüz tasarlama aracı
Icon=wxGlade
Exec=wxglade
Terminal=false
StartupNotify=false
Categories=Application;Development
