[Desktop Entry]
Comment=Kişisel finans yöneticisi
Comment[tr]=Kişisel finans yöneticisi
Encoding=UTF-8
Type=Application
GenericName=Kişisel finans yöneticisi
GenericName[tr]=Kişisel finans yöneticisi
Icon=grisbi
Exec=grisbi
Name=Grisbi
Name[tr]=Grisbi
StartupNotify=false
Terminal=false
Categories=Application;Office;