[Desktop Entry]
Type=Application
Encoding=UTF-8
Exec=kooldock
GenericName[tr]=İşlevsel Panel
Icon=kooldock
Name=kooldock
StartupNotify=true
Terminal=false
Categories=Application;Utility;
