[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Gschem
Name[tr]=Gschem
GenericName=Schematic Capture
GenericName[tr]=Devre çizim programı
Exec=gschem
Icon=gschem
Categories=Application;Education;Science;
