[Desktop Entry]
Categories=Application;Development;
Comment=Subversion gui client
Comment[tr]=Subversion istemcisi
Encoding=UTF-8
Exec=rapidsvn
GenericName=Subversion gui client
GenericName[tr]=Subversion istemcisi
Icon=rapidsvn.xpm
MimeType=
Name=RapidSvn
Name[tr]=RapidSvn
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
