[Desktop Entry]
Categories=Utility;TextEditor;
GenericName=PDF Editor
GenericName[tr]=PDF Düzenleyici
Encoding=UTF-8
Exec=/usr/bin/pdfedit
Icon=/usr/share/pdfedit/icon/pdfedit_icon.svg
Name=PDF Editor
Terminal=false
Type=Application
