[Desktop Entry]
Encoding=UTF-8
Name=Ganttproject
Comment="GanttProject is a tool for creating a project schedule by means of Gantt chart and resource load chart."
Comment[es]="GanttProject es una herramienta para manejar un proyecto usando diagramas de Gantt y de manejo de recursos."
Comment[tr]="GanttProject, projeler için Gantt ve iş yükü diyagramı oluşturmaya yarayan bir araçtır."
Icon=ganttproject
Exec=ganttproject
MimeType=application/x-ganttproject
Terminal=false
Type=Application
Categories=Office;Development;ProjectManagement;Java;
StartupNotify=false

