[Desktop Entry]
Name=Ganttproject
Comment=GanttProject is a project scheduling application written in Java and featuring gantt chart, resource management, calendaring, import/export (MS Project, HTML, PDF, spreadsheets).
Icon=ganttproject
Exec=ganttproject
Terminal=false
Type=Application
Categories=Office;Development;ProjectManagement;Java;
StartupNotify=false

