[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=evidence
Icon=/usr/share/applications/evidence.xpm

Name=Evidence์
GenericName=File Manager์
GenericName[tr]=Dosya Yöneticisi
Categories=Qt;KDE;System;
