[Desktop Entry]
Categories=Qt;Application;AudioVideo;Audio;
Encoding=UTF-8
Exec=gnaural
GenericName=Gnaural
GenericName[tr]=Gnaural
Icon=gnaural-icon.png
Name=Gnaural
StartupNotify=true
Terminal=false
Type=Application
