[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=Gnaural
GenericName=Binaural-beat Generator
GenericName[tr]=Programlanabilir Ses Yaratıcı
Exec=gnaural
Icon=gnaural-icon
StartupNotify=true
Terminal=false
Categories=Qt;Application;AudioVideo;Audio
