[Desktop Entry]
Encoding=UTF-8
Name=jEdit
GenericName=Text Editor
GenericName[tr]=Metin Düzenleyici
Comment=Programmer's Text Editor
Comment[tr]=Programcılar için Metin Düzenleyici
Exec=jedit %U
Icon=/usr/share/jEdit/doc/jedit.png
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
MimeType=text/plain;
