[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Cuyo
Name[tr]=Cuyo
GenericName=Puzzle Game
GenericName[tr]=Puzzle Game
Icon=cuyo
Exec=cuyo
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;