[Desktop Entry]
Categories=Qt;KDE;System;
Exec=sqlitebrowser
GenericName=SQLite database browser
GenericName[tr]=SQLite veritabanı düzenleyici
Icon=sqlitebrowser
Name=Sqlitebrowser
Name[tr]=Sqlitebrowser
Type=Application
