[Desktop Entry]
Encoding=UTF-8
Name=Freevo
Name[tr]=Freevo
Comment=Record, playback and watch TV
Comment[tr]=TV kaydedicisi, oynatıcısı
GenericName=Multimedia Application
GenericName[tr]=Çoklu Ortam Uygulaması
Exec=freevo
Icon=freevo.png
StartupNotify=false
Terminal=false
Categories=Qt;Application;AudioVideo;Audio;Video;Player;TV;