[Desktop Entry]
Name=FPrint
Comment=Biometric Fingerprint Reader
Comment[tr]=Biyometrik Parmakizi Okuyucu
GenericName[en]=Biometric Fingerprint Scanner
GenericName[tr]=Biyometrik Parmakizi Okuyucu
Exec=fprint_demo
Icon=fprint_demo.png
Terminal=false
Type=Application
Categories=Application;System;
Encoding=UTF-8

