[Desktop Entry]
Encoding=UTF-8
Name=klibido
GenericName=Usenet news grabber
GenericName[tr]=Usenet haber istemcisi
Comment=klibido is a KDE usenet news grabber for Linux.
Comment[tr]=KLibido usenet haberlerindeki ikili dosyaları kolayca indirmenizi sağlayan bir KDE uygulamasıdır.
Exec=klibido
Icon=klibido
Type=Application
Categories=Qt;KDE;Application;Network;
