[Desktop Entry]
Encoding=UTF-8
Name=Bos
Name[tr]=Bos
Exec=bos
Type=Application
GenericName=Invasion - Battle of Survival
GenericName[tr]=İstila - Hayatta Kalanların Savaşı
Icon=bos
Categories=Game;StrategyGame;