[Desktop Entry]
Encoding=UTF-8
Name=Firestarter
GenericName=Firewall Application
GenericName[tr]=Güvenlik Duvarı
Type=Application
Categories=Network;Application;
Terminal=false
Exec=kdesu /usr/sbin/firestarter
Icon=firestarter
