[Desktop Entry]
Encoding=UTF-8
Name=Sturmbahnfahrer
GenericName=Simulated Obstacle Course Racing
GenericName[tr]=Engelli Arazide Yarış Simülasyonu
Exec=sturmbahnfahrer
Icon=sturmbahnfahrer
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
