[Desktop Entry]
Encoding=UTF-8
Name=Sturmbahnfahrer
Name[tr]=Sturmbahnfahrer
Comment=Sturmbahnfahrer
Comment[tr]=Sturmbahnfahrer
Exec=/usr/games/sturmbahnfahrer
Icon=sturmbahnfahrer.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
