[Desktop Entry]
Encoding=UTF-8
Name=Vuze
Name[tr]=Vuze
GenericName=A powerful BitTorrent Client
GenericName[tr]=BitTorrent İstemcisi
Categories=Network
Exec=vuze
Icon=vuze.png
Terminal=false
Type=Application
