[Desktop Entry]
Name=luma
Exec=/usr/bin/luma
Categories=System;Qt
Comment=LDAP browser
Comment[tr]=LDAP tarayıcısı
Encoding=Legacy-Mixed
GenericName=LDAP browser
GenericName[tr]=LDAP tarayıcısı
Icon=/usr/share/luma/icons/luma-128.png
StartupNotify=true
Terminal=0
Type=Application
