[Desktop Entry]
Encoding=UTF-8
Name=Checkgmail
Comment= A small, fast Gmail checker using ATOM feeds
Comment[tr]= Küçük ve hızlı bir Gmail E-posta Denetleyicisi
GenericName= Gmail Checker
GenericName[tr]= Gmail E-posta Denetleyicisi
Exec=checkgmail
Icon=checkgmail.png
StartupNotify=false
Terminal=false
Type=Application
Categories=Qt;KDE;Network;

