[Desktop Entry]
Categories=Application;Game;StrategyGame;
Encoding=UTF-8
Exec=pouetChess
Icon=pouetchess.png
Name=Pouet Chess
StartupNotify=false
Terminal=false
Type=Application
Version=1.0
