[Desktop Entry]
Categories=Qt;Application;Utility;
Encoding=UTF-8
Exec=gnaural
GenericName=Gnaural
GenericName[tr]=Gnaural
Icon=/usr/share/gnaural/pixmaps/gnaural-icon.png
Name=Gnaural
StartupNotify=true
Terminal=false
Type=Application
