[Desktop Entry]
Encoding=UTF-8
Name=KAlgebra
Exec=kalgebra
Icon=kalgebra
Type=Application
Categories=Education;Science;
Comment=Graph calculator.
Comment[ca]=Calculadora gràfica
Comment[da]=
Comment[de]=
Comment[el]=
Comment[es]=Calculadora gráfica
Comment[et]=
Comment[fr]=Calculatrice graphique
Comment[hi]=
Comment[hu]=
Comment[is]=
Comment[it]=
Comment[ja]=
Comment[nb]=
Comment[nl]=
Comment[pl]=
Comment[pt]=
Comment[pt_BR]=
Comment[ru]=
Comment[sl]=
Comment[sr]=
Comment[sr@Latn]=
Comment[sv]=
Comment[ta]=
Comment[tg]=
Comment[tr]=Grafikli hesapmakinası
Comment[zh_CN]=