[Desktop Entry]
Categories=Application;Qt;Development;
Comment=
Comment[tr]=
Encoding=UTF-8
Exec=deveditor
GenericName=C/C++ Geliştirme Ortamı
GenericName[tr]=C/C++ Geliştirme Ortamı
Icon=deveditor
MimeType=text/html
Name=Deveditor
Name[tr]=Deveditor
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
