[Desktop Entry]
Version=0.4.3
Name=TakeNote
GenericName=Note Taking and Organization
GenericName[tr]=Not Alma ve Düzenleme
Comment=Take notes easily
Comment[tr]=Çeşitli konularda düzenli notlar tutun
Exec=takenote
Terminal=false
Icon=takenote
Type=Application
Categories=GTK;Utility;

