[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Manslide
GenericName=Slideshow creation software
GenericName[tr]=Slayt Programı
Icon=manslide.png
TryExec=manslide
Exec=manslide
Terminal=false
Categories=Qt;KDE;Application;Graphics;
