[Desktop Entry]
Encoding=UTF-8
Name=Azureus
Comment=BitTorrent Client
Comment[tr]=BitTorrent İstemcisi
Comment[de]=BitTorrent Client
GenericName=BitTorrent Cleint
GenericName[tr]=BitTorrent istemcisi
GenericName[de]=BitTorrent Cleint
Exec=azureus
Icon=Azureus.png
Terminal=false
Type=Application
Categories=Application;Network;Java
