[Desktop Entry]
Encoding=UTF-8
Name=Azureus
Comment=Bittorrent Client
Comment[tr]=Bittorrent İstemcisi
Comment[de]=Bittorrent Client
GenericName=Bittorrent Cleint
GenericName[tr]=Bittorrent istemcisi
GenericName[de]=Bittorrent Cleint
Exec=azureus
Icon=Azureus.png
Terminal=false
Type=Application
Categories=Application;Network;Java
