[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=AutoQ3D
GenericName=3D Modeling Application
GenericName[tr]=3B Modelleme Uygulaması
Icon=AutoQ3D
Exec=AutoQ3D
Terminal=false
Categories=Application;Education
