[Desktop Entry]
Name=Bioclipse
Name[tr]=Bioclipse
Encoding=UTF-8
Exec=bioclipse
Icon=bioclipse
Type=Application
Categories=Application;Education;Science
