[Desktop Entry]
Categories=KDE;Application;System;
Comment=
Comment[tr]=
Encoding=UTF-8
Exec=qtfprot
GenericName=Anti Virus
GenericName[tr]=Anti Virus
Icon=/var/tmp/pisi/qtfprot-0.2.1-1/install/usr/share/icons/locolor/32x32/apps/qtfprot.png
MimeType=
Name=QtFprot
Name[tr]=QtFprot
Path=
StartupNotify=true
Terminal=false
TerminalOptions=false
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
