[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=Xournal
Name[tr]=Xournal 
GenericName=Notetaker and PDF Annotator
GenericName[tr]=Not Alıcı ve PDF İşaretleyici
Comment=Notetaking, sketching and journaling application
Comment[tr]=Not alma, taslak çizme ve günlük tutma yazılımı
Exec=xournal
Icon=xournal
StartupNotify=true
Terminal=false
Categories=GNOME;GTK;Utility;Accessibility;