[Desktop Entry]
Categories=Application;Network;
Comment=Java Gnutella client
Comment[tr]=Java ile yazılmış Gnutella istemcisi
Encoding=UTF-8
Exec=/usr/bin/phex
GenericName=File sharing application
GenericName[tr]=Dosya paylaşım programı
Icon=phex
Name=Phex
StartupNotify=false
Terminal=false
Type=Application
