[Desktop Entry]
Categories=Qt;KDE;Network;
Comment=
Comment[tr]=
Encoding=UTF-8
Exec=iftop -n -N -p
GenericName=
GenericName[tr]=
Icon=lastmoves
MimeType=
Name=iftop
Name[tr]=iftop
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
