[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Josm
Name[tr]=Josm
GenericName=Open Street Map Editor
GenericName[tr]=Açık Sokak Haritası Düzenleyicisi
Icon=josm
Exec=josm
Terminal=false
StartupNotify=false
Categories=Application;Utility;
