[Desktop Entry]
Encoding=UTF-8
Name=FreeMind
GenericName=Mind mapping software
GenericName[tr]=Zihin haritalama uygulaması
Icon=freemind
Exec=freemind
MimeType=application/x-mindmap
Terminal=false
Type=Application
Categories=Application;Office;Java;
StartupNotify=false
