[Desktop Entry]
Comment=Mind Map
Comment[tr]=Zihin Haritası
Hidden=false
Icon=/usr/share/pixmaps/FreeMind.png
MimeType=application/mm
Patterns=*.mm
Type=MimeType
