[Desktop Entry]
Name=Grass
Type=Application
Exec=grass
Comment=Geographic Information System
comment[tr]=Coğrafi Bilgi Sistemi
GenericName=Geographic Information System (GIS)
GenericName[tr]=Coğrafi Bilgi Sistemi (GIS)
Icon=grass.png
Categories=Application;Education;Science;Geography
