[Desktop Entry]
Type=Application
Version=0.1.0
Encoding=UTF-8
Name=Avogadro
Name[tr]=Avogadro
GenericName=Molecular editor
GenericName[tr]=Molekül Editörü
Icon=avogadro
Exec=avogadro
Terminal=false
StartupNotify=false
Categories=Qt;KDE;Education;Science;
