[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=UAE
Name[tr]=UAE
GenericName=UAE AMIGA EMULATOR
GenericName[tr]=UAE AMIGA EMULATÖRÜ
Comment=amiga emulator
Comment[tr]=amiga emülatörü
Icon=uae.png
Exec=uae
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame
