[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Hamachi
Name[tr]=Hamachi
GenericName=VPN Application
GenericName[tr]=VPN Uygulaması
Comment=Virtual Private Network Application
Comment[tr]=Sanal Ağ kurma programı
Icon=/usr/share/pixmaps/hamachi.png
Exec=ghamachi
Terminal=false
StartupNotify=false
Categories=Application;Network;