[Desktop Entry]
Name=FatRat
Name[tr]=FatRat
GenericName=Download/upload Manager
GenericName[tr]=Çok İşlevli İndirme Yöneticisi
Exec=fatrat
Icon=fatrat
Categories=Application;Network;
StartupNotify=true
Terminal=false
Type=Application

