[Desktop Entry]
Comment=
Comment[tr]=
Encoding=UTF-8
Exec=/usr/bin/mysqlcc
GenericName=Mysql Control Center
GenericName[tr]=Mysql Control Center
Icon=/usr/share/pixmaps/mysqlcc.xpm
Name=Mysql Control Center
Name[tr]=Mysql Control Center
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Application;Utility;
