[Desktop Entry]
Comment=
Comment[tr]=
Encoding=UTF-8
Exec=mysqlcc
GenericName=Mysql Control Center
GenericName[tr]=Mysql Yönetim Merkezi
Icon=mysqlcc.xpm
Name=Mysql Control Center
Name[tr]=Mysql Yönetim Merkezi
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Application;Utility;
