[Desktop Entry]
Encoding=UTF-8
Exec=tuxtype
Name=Tuxtype
Type=Application
GenericName=Typing Tutor
GenericName[tr]=Daktilo Öğretmeni
Terminal=false
Icon=/usr/share/tuxtype/images/keyboard/keyboard.png
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;
