[Desktop Entry]
Encoding=UTF-8
Name=PokerTH
Name[tr]=PokerTH
Exec=pokerth
Icon=pokerth
GenericName=Poker Card Game
GenericName[tr]=Poker Kart Oyunu
Terminal=false
Type=Application
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;CardGame;
