[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Numpty Physics
Name[tr]=Numpty Physics
GenericName=Crayon Pyhsics like game
GenericName[tr]=Crayon Physics benzeri bir oyun
Icon=numptyphysics
Exec=numptyphysics
MimeType=application/x-numptyphysics-level;application/x-numptyphysics-collection;
Categories=Application;Game;LogicGame;

