[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Vulcan
Name[tr]=Vulcan
GenericName=Vulcan Chess
GenericName[tr]=Vulcan Satranç
Icon=vulcan
Exec=vulcan
Terminal=false
StartupNotify=false
Categories=Application;Game;PuzzleGame
