[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=x3270
GenericName=IBM terminal emulator
GenericName[tr]=IBM terminal emülatörü
Exec=x3270
Icon=x3270.xpm
Categories=Application;System;
