[Desktop Entry]
Categories=KDE;Application;Utility
Encoding=UTF-8
Exec=kmdr-executor '/opt/acetoneiso/AcetoneISO.kmdr'
GenericName=ISO Tool Kit
GenericName[tr]=ISO Alet Çantası
Icon=/usr/share/pixmaps/aiso.png
MimeType=
Name=AcetoneISO
Name[tr]=AcetoneISO
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
