[Desktop Entry]
Type=Application
Version=2.1
Encoding=UTF-8
Name=QEdit
Name[tr]=QEdit
GenericName=Qt Class Completer
GenericName[tr]=Qt Sınıf Tamamlayıcı
Icon=qedit
Exec=Qedit
Terminal=false
StartupNotify=false
Categories=Qt;KDE;Development;
