[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=QtEmu
Name[tr]=QtEmu
GenericName=Operating System Emulator
GenericName[tr]=İşletim Sistemi Emülatörü
Comment=Graphical user interface for QEMU
Comment[tr]=QEMU için grafik arayüz
Icon=/usr/share/icons/Tulliana-2.0/128x128/apps/systemtray.png
Exec=qtemu
Terminal=false
StartupNotify=true
Categories=System;Emulator;Qt
