[Desktop Entry]
Categories=Qt;Application;Network;TrayIcon;
Encoding=UTF-8
Exec=qwit
GenericName=Twitter Client
GenericName[tr]=Twitter İstemcisi
Icon=qwit
Name=Qwit
StartupNotify=true
Terminal=false
Type=Application
