[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=OSTBox
Name[tr]=OSTBox
GenericName=Media Center
GenericName[tr]=Çoklu Ortam Merkezi
Icon=ostbox
Exec=ostbox
Terminal=false
Categories=Application;AudioVideo;