[Desktop Entry]
Encoding=UTF-8
Name=Amaya
Comment=Edit the Web
Comment[fr]=Editez le Web
Comment[nl]=Bewerk het web
Comment[tr]=Web Düzenleyicisi
Categories=Application;Development;
Exec=amaya
Icon=amaya
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;application/xml
