[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=qmmp
Name[tr]=qmmp
GenericName=Audio Player
GenericName[tr]=Ses Oynatıcı
Exec=qmmp
Comment=Qt-based Audio Player 
Comment[tr]=Qt tabanlı Ses Oynatıcı
Icon=qmmp
Terminal=false
Categories=Qt;KDE;AudioVideo;Player;