[Desktop Entry]
Categories=Development;IDE;
Comment=Database Programming Environment
Comment[tr]=Veritabanı Programlama Ortamı
Encoding=UTF-8
Exec=daboide
Icon=daboide
Name=DaboIde
Name[tr]=DaboIde
GenericName=Database Programming Environment
GenericName[tr]=Veritabanı Programlama Ortamı
StartupNotify=false
Terminal=false
Type=Application
