[Desktop Entry]
Encoding=UTF-8
Name=Firestarter
Type=Application
Categories=Network;Application;
Terminal=false
Exec=firestarter
Icon=firestarter.png
