[Desktop Entry]
Encoding=UTF-8
Icon=ksynaptics
Type=Application
Exec=kcmshell ksynaptics

X-KDE-ModuleType=Library
X-KDE-Library=ksynaptics
X-KDE-ParentApp=tasma

Comment=Configure your synaptics touch pad
Comment[br]=Kefluniañ ho tablezenn synaptics
Comment[cs]=Nastavení synaptics touchpadu
Comment[da]=Indstil din Synaptics styreplade
Comment[de]=Richten Sie Ihr Touchpad ein
Comment[es]=Configure su puntero táctil de synaptics
Comment[et]=Synaptics puutepadja seadistamine
Comment[fr]=Configurer votre tablette synaptique
Comment[ga]=Cumraigh do cheap tadhaill synaptics
Comment[gl]=Configurar o seu touch pad Synaptics
Comment[it]=Configura il tuo touch pad synaptics
Comment[ja]=synaptics タッチパッドを設定
Comment[ka]=synaptics საცეცი გამართეთ
Comment[mt]=Ikkonfigure Synaptics Touch Pad
Comment[nb]=Konfigurer din synaptics styreplate
Comment[nl]=Synaptics touchpad instellen
Comment[pa]=ਆਪਣੇ ਟੱਚ ਪੈਚ ਦੀ ਸੰਰਚਨਾ ਕਰੋ
Comment[pt]=Configurar o seu rato por toque Synaptics
Comment[pt_BR]=Configurar seu touchpad Synaptics
Comment[sk]=Nastaviť synaptics touch pad
Comment[sr]=Подесите вашу synaptic додирну таблу
Comment[sr@Latn]=Podesite vašu synaptic dodirnu tablu
Comment[sv]=Anpassa Synaptics styrplatta
Comment[th]=ปรับแต่งแผ่นสัมผัสควบคุมเมาส์ Synaptics ของคุณ
Comment[tr]=Dokunmatik padinizi yapılandırın
Comment[uk]=Налаштування сенсорної панелі synaptics
Comment[xx]=xxConfigure your synaptics touch padxx
Comment[zh_CN]=配置您的 synaptics 触摸板
Keywords=synaptics,ksynaptics,touch pad
Keywords[br]=synaptics,ksynaptics,tablezenn
Keywords[cs]=synaptics,ksynaptics,touchpad
Keywords[da]=synaptics,ksynaptics,styreplade
Keywords[es]=synaptics,ksynaptics, touch pad
Keywords[et]=synaptics,ksynaptics,puutepadi
Keywords[fr]=synaptique,ksynaptics,touch pad,tablette
Keywords[ga]=synaptics,ksynaptics,ceap tadhaill
Keywords[ja]=synaptics,ksynaptics,タッチパッド
Keywords[nb]=synaptics,ksynaptics,styreplate
Keywords[nl]=synaptics,ksynaptics,touchpad
Keywords[pt]=synaptics,ksynaptics,rato por toque
Keywords[pt_BR]=synaptics,ksynaptics,touchpad
Keywords[sr]=synaptics,ksynaptics,touch pad,додирна табла
Keywords[sr@Latn]=synaptics,ksynaptics,touch pad,dodirna tabla
Keywords[sv]=synaptics,ksynaptics,styrplatta
Keywords[th]=synaptics,ksynaptics,แผ่นสัมผัสควบคุมเมาส์
Keywords[tr]=synaptics,ksynaptics,dokunmatik pad
Keywords[uk]=synaptics,ksynaptics,touch pad,сенсорна панель
Keywords[xx]=xxsynaptics,ksynaptics,touch padxx
Name=Touch Pad
Name[br]=Tablezenn
Name[cs]=Touchpad
Name[da]=Styreplade
Name[de]=Touchpad
Name[et]=Puutepadi
Name[fr]=Tablette
Name[ga]=Ceap Tadhaill
Name[ja]=タッチパッド
Name[ka]=საცეცი
Name[nb]=Styreplate
Name[nl]=Touchpad
Name[pa]=ਟੱਚ ਪੈਡ
Name[pt]=Rato por Toque
Name[pt_BR]=Touchpad
Name[sr]=Додирна табла
Name[sr@Latn]=Dodirna tabla
Name[sv]=Styrplatta
Name[th]=แผ่นสัมผัสควบคุมเมาส์
Name[tr]=Dokunmatik Pad
Name[uk]=Сенсорна панель
Name[xx]=xxTouch Padxx
Name[zh_CN]=触摸板

Categories=Qt;KDE;X-KDE-settings-peripherals;X-KDE-tasma-peripherals
