[Global]
MoveFirst=false

[Entry 0]
Name=Web Browser
Name[am]=መረብ ቃኝ
Name[ar]=متصفح الويب
Name[be]=Гартач Сеціва
Name[ca]=Navegador web
Name[cs]=Webový prohlížeč
Name[da]=Netlæser
Name[de]=Webbrowser
Name[el]=Περιηγητής ιστοσελίδων
Name[en_GB]=Web Browser
Name[eo]=TTT-Krozilo
Name[es]=Navegador web
Name[et]=Veebisirvija
Name[eu]=Web Nabigatzailea
Name[fr]=Navigateur Web
Name[he]=דפדפן אינטרנט
Name[hu]=Web böngésző
Name[id]=Peramban Web
Name[ja]=ウェブブラウザ
Name[ko]=웹 브라우져
Name[ku]=Geroka Înternetê
Name[lv]=Tīmekļa pārlūks
Name[mk]=Веб прелистувач
Name[nb_NO]=Nettleser
Name[nl]=Web browser
Name[pa]=ਵੈੱਬ ਬਰਾਊਂਜ਼ਰ
Name[pl]=Przeglądarka
Name[pt_BR]=Navegador Web
Name[pt_PT]=Navegador de Ajuda
Name[ro]=Navigator documentaţie
Name[ru]=Веб браузер
Name[si]=වියුනු බ්‍රව්සරය
Name[sq]=Shfletues Web
Name[sv]=Webbläsare
Name[tr]=Web Tarayıcı
Name[ur]=ویب براؤزر
Name[vi]=Trình duyệt Web
Name[zh_CN]=网页浏览器
Name[zh_TW]=網路瀏覽器
Comment=Surf the internet
Comment[am]=ኢንተርኔት ቃኝ
Comment[ar]=ابحر في الانترنت
Comment[be]=Вандроўкі ў Сеціве
Comment[ca]=Navega per la xarxa
Comment[cs]=Surfovat na internetu
Comment[da]=Surf på internettet
Comment[de]=Im Internet surfen
Comment[el]=Περιήγηση στο διαδίκτυο
Comment[en_GB]=Surf the internet
Comment[eo]=Krozu tra la Interreto
Comment[es]=Navegue en Internet
Comment[et]=Sirvi veebi
Comment[eu]=Internet nabigatu
Comment[fr]=Naviguer sur internet
Comment[he]=גלוש באינטרנט
Comment[hu]=Barangolás a weben
Comment[id]=Jelajahi internet
Comment[ja]=インターネットを閲覧します
Comment[ko]=정보의 바다로
Comment[ku]=Gera di internetê de
Comment[lv]=Pārlūkot internetu
Comment[mk]=Сурфајте на интернет
Comment[nb_NO]=Surfe på internett
Comment[nl]=Surfen op internet
Comment[pa]=ਇੰਟਰਨੈੱਟ ਵੇਖੋ
Comment[pl]=Przeglądaj Internet
Comment[pt_BR]=Navegar pela internet
Comment[pt_PT]=Navegar na Internet
Comment[ro]=Navigare pe Internet
Comment[ru]=Просмотр интернет сайтов
Comment[si]=අන්තර්ජාලය සැරිසරන්න
Comment[sq]=Lundroni në Internet
Comment[sv]=Surfa på internet
Comment[tr]=İnternette gezin
Comment[ur]=انٹرنیٹ سرف کریں
Comment[vi]=Duyệt Internet
Comment[zh_CN]=网上冲浪
Comment[zh_TW]=網上衝浪
Icon=web-browser
Exec=exo-open --launch WebBrowser
Terminal=false
StartupNotify=false

