[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=QSampler
GenericName=GUI for LinuxSampler
GenericName[tr]=LinuxSampler için Arayüz
Icon=qsampler
Exec=qsampler
Terminal=false
Categories=Application;AudioVideo;
