[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Tuxcards
Name[tr]=Tuxcards
GenericName=Hierarchical notebook
GenericName[tr]=Hiyerarşik not defteri
Icon=tuxcards
Exec=tuxcards
Terminal=false
StartupNotify=false
Categories=Application;Utility;
