[Desktop Entry]
Encoding=UTF-8
Name=LinuxDC++
Name[tr]=LinuxDC++
GenericName=P2P DC++ client
GenericName[tr]=P2P DC++ istemcisi
Comment[de]=DC++-Client
Comment[es]=Aplicación de DC++
Comment[fi]=DC++-sovellus
Comment[fr]=Client DC++
Comment[hu]=DC++-kliens
Comment[lt]=DC++ klientas
Comment[no]=DC-klient
Comment[pt_BR]=Cliente de DC++
Comment[sl]=Odjemalec DC++
Comment[sv]=DC++-klient
Comment[ro]=Client de DC++
Comment[tr]=DC++-istemcisi
Comment=DC++ Client
Exec=ldcpp
Icon=linuxdcpp.png
Terminal=false
Type=Application
Categories=Application;Network;
