[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=CellWriter
Name[tr]=CellWriter
GenericName=Handwriting Input Panel
GenericName[tr]=Elyazısı Giriş Paneli
Comment=Grid-entry handwriting recognition input panel
Exec=cellwriter
Icon=cellwriter
StartupNotify=true
Terminal=false
Categories=GNOME;GTK;Utility;Accessibility;
