[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Gerbv
Name[tr]=Gerbv
GenericName=Gerber File Viewer
GenericName[tr]=Gerber Dosya Gösterici
Exec=gerbv
Icon=gerbv
Categories=Application;Education;Science;
