[Desktop Entry]
Type=Application
Version=0.2.8.1
Encoding=UTF-8
Name=Armagetron Advanced
Exec=armagetronad
Comment=3d light cycle game
Icon=armagetronad.png
Terminal=false
Path=/usr/bin
Categories=Application;Game;ActionGame;GameAction;ActionGames;GamesAction;
StartupNotify=false
MimeType=application/x-armagetronad;
