[Desktop Entry]
Encoding=UTF-8
Name=Valknut
GenericName=Dosya Paylaşım Programı-DC++
Exec=valknut
Icon=/usr/share/pixmaps/valknut.png
Terminal=false
Type=Application
Categories=Application;Network;
