[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=ecaMegaPedal
Name[tr]=ecaMegaPedal
GenericName=Effect Processor
GenericName[tr]=Efekt İşlemci
Icon=ecamegapedal.png
Exec=ecamegapedal
Terminal=false
StartupNotify=false
Categories=KDE;Application;AudioVideo;