[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=qt_xhtmledit
Name[tr]=qt_xhtmledit
GenericName=Html Editor
GenericName[tr]=Html Düzenleyici
Exec=edithtml
Comment=Qt-4-based Html Editor 
Comment[tr]=Qt-4 tabanlı Html Düzenleyici
Icon=qt_xhtmledit
Terminal=false
Categories=Qt;KDE;Development;WebDevelopment;
