[Desktop Entry]
Type=Application
Version=2.2.6
Encoding=UTF-8
Name=GRAMPS Genealogy System
Name[tr]=GRAMPS Soy Ağacı Sistemi
Icon=gramps.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;Genealogy;Office;
MimeType=application/x-gramps
Exec=gramps %F
