[Desktop Entry]
Type=Application
Version=0.1.0
Encoding=UTF-8
Name=Genchemlab
Name[tr]=Genchemlab
GenericName=Chemistry Lab Simulator
GenericName[tr]=Kimya Laboratuvarı Simülatörü
Icon=genchemlab
Exec=genchemlab
Terminal=false
StartupNotify=false
Categories=Qt;KDE;Education;Science;