[Desktop Entry]
Categories=Application;Office;
GenericName=Mind mapping software
GenericName[tr]=Zihin haritalama uygulaması
Encoding=UTF-8
Exec=/usr/bin/freemind
Icon=FreeMind.png
MimeType=application/mm
Name=FreeMind
StartupNotify=false
Terminal=false
Type=Application