[Desktop Entry]
Categories=Application;Office;
Comment=Free mind mapping software
Comment[tr]=Özgür zihin haritalama uygulaması
Encoding=UTF-8
Exec=/usr/bin/freemind
GenericName=Freemind
Icon=FreeMind.png
MimeType=application/mm
Name=FreeMind
StartupNotify=false
Terminal=false
Type=Application