[Desktop Entry]
Encoding=UTF-8
Version=0.9
Type=Application
Name=DeSmuME (Gtk)
Name[tr]=DeSmuME (Gtk)
Comment=Nintento DS emulator
Comment[tr]=Nintento DS emülatörü
TryExec=desmume
Exec=desmume
Icon=DeSmuME.xpm
Categories=Application;Game;Emulator
