[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Freedroidrpg
Name[tr]=Freedroidrpg
GenericName=Freedroid RPG
GenericName[tr]=Freedroid RPG Oyunu
Icon=freedroidrpg
Exec=freedroidRPG
Terminal=false
StartupNotify=false
Categories=Application;Game;RolePlaying