[Desktop Entry]
Encoding=UTF-8
Name=Gips
Name[tr]=Gips
GenericName=Isotopic Pattern Calculator
GenericName[tr]=İzotop Dağılım Hesaplayıcı
Exec=gips
Icon=gips
Type=Application
Categories=Application;Education;Chemistry;
