[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Xcircuit
Name[tr]=Xcircuit
GenericName=Schematic Capture
GenericName[tr]=Devre çizim programı
Exec=xcircuit
Icon=xcircuit
Categories=Application;Education;Science;
