[Desktop Entry]
Name=Klogic
Type=Application
Exec=klogic
Comment=Digital circuit simulator
comment[tr]=Dijital devre simülatörü
GenericName=Circuit simulator
GenericName[tr]=Devre simülatörü
Encoding=UTF-8
Icon=/usr/kde/3.5/share/icons/klogic/klogic.xpm
Categories=Application;Education;Science
