[Desktop Entry]
Name=Stellarium
Name[tr]=Stellarium
Comment=A planetarium for your computer
Comment[tr]=Bilgisayarınız için yıldız evi
Encoding=UTF-8
Exec=stellarium
Icon=stellarium.png
Type=Application
Categories=Application;Graphics;
