[Desktop Entry]
Encoding=UTF-8
Name=Wink
Name[tr]=Wink
GenericName= Presentation creation software
GenericName[tr]= Rehber Hazırlama Programı
Exec=wink
Icon=wink
Type=Application
Categories=Qt;KDE;Application;Utility;
