[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=BKChem
Name[tr]=BKChem
GenericName=Chemical drawing program
GenericName[tr]=Kimya çizim programı
Comment=Chemical structure drawing tool
Comment[tr]=Kimyasal yapı çizim aracı
Exec=bkchem
Icon=bkchem
Terminal=false
StartupNotify=false
Categories=Application;Science
