[Desktop Entry]
Encoding=UTF-8
Name=Tapioca
Comment=Tapioca
Comment[pt_BR]=Tapioca
Exec=tapioca
Icon=tapiocaui
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;Network;
