[Desktop Entry]
Name=BygFoot
GenericName=Football Management Game
GenericName[tr]=Futbol takımı yönetme oyunu
Categories=Game;Tactic&Strategy;
Encoding=UTF-8
Exec=bygfoot
Icon=bygfoot
Terminal=false
Type=Application
