[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=ToyCars
Name[tr]=ToyCars
GenericName=Car Race
GenericName[tr]=Araba Yarışı
Exec=toycars
Icon=toycars
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame
