[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Freerapid
Name[tr]=Freerapid
GenericName=Rapidshare Downloader
GenericName[tr]=Rapidshare indirme aracı
Exec=freerapid
Icon=frd
Categories=Application;Network;
