[Desktop Entry]
Comment=A Circuit Simulation Program
Comment[tr]=Devre Simulasyon Programı
Exec[$e]=qucs
GenericName=
GenericName[tr]=
Icon=/usr/share/icons/qucs64x64.png
MimeType=
Name=Qucs
Name[tr]=Qucs
Path[$e]=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Applications;Science;

