[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Jahshaka
Name[tr]=Jahshaka
GenericName=Video Compositing
GenericName[tr]=Görüntü İşleme
Icon=/usr/share/jahshaka/Pixmaps/jahicon.ico
Exec=jahshaka
Terminal=false
StartupNotify=false
Categories=Application;AudioVideo;
