[Desktop Entry]
Categories=Game;Arcade;
Comment=Soccer Game
Comment[tr]=Futbol Oyunu
Encoding=UTF-8
Exec=bp2k6
GenericName=Bolzplatz 2006
GenericName[tr]=Bolzplatz 2006
Icon=/usr/share/bolzplatz2006/data/images/xenoagelogo.png
Name=Bolzplatz 2006
Name[tr]=Bolzplatz 2006
StartupNotify=true
Terminal=false
Type=Application
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
