[Desktop Entry]
Comment=Multimedia Converter
Comment[ar]=برنامج تحويل الوسائط
Comment[tr]=Çokluortam Dönüştürücü
DocPath=
Encoding=UTF-8
Exec=mconverter
GenericName=Multimedia Converter
GenericName[ar]=برنامج تحويل الوسائط
GenericName[tr]=Çokluortam Dönüştürücü
Icon=tux
MimeType=
Name=Multimedia Converter
Name[ar]=برنامج تحويل الوسائط
Name[tr]=Mconverter
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=multi
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Application;AudioVideo;Audio;Video;Player