[Desktop Entry]
Encoding=UTF-8
Exec=sqliteman
Name=Sqliteman
GenericName=Sqlite3 Manager
GenericName[tr]=Sqlite3 Yöneticisi
X-KDE-StartupNotify=true
MimeType=application/x-sqlite3
Icon=sqliteman
Terminal=false
Type=Application
Categories=Qt;Development
