[Desktop Entry]
Encoding=UTF-8
Name=TeamSpeak
GenericName=Client for TeamSpeak
GenericName[tr]=TeamSpeak İstemcisi
Exec=ksystraycmd teamspeak-client
Icon=teamspeak-client
Type=Application
Terminal=0
Categories=Network;Application;
