[Desktop Entry]
Categories=KDE;Application;Utility
Comment=PlayOnLinux
Comment[tr]=PlayOnLinux
Encoding=UTF-8
Exec=playonlinux
Icon=playonlinux
Name=PlayOnLinux
Name[tr]=PlayOnLinux
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
 
