[Desktop Entry]
Categories=KDE;Application;Utility
Comment=PlayOnLinux
Comment[tr]=PlayOnLinux
Encoding=UTF-8
Exec[$e]=playonlinux
GenericName=
GenericName[tr]=
Icon=playonlinux
MimeType=
Name=PlayOnLinux
Name[tr]=PlayOnLinux
Path[$e]=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
 
