[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=wmbiff
Name[tr]=wmbiff
GenericName=wmbiff
GenericName[tr]=E-posta Uyaran
Icon=wmbiff
Exec=ksystraycmd wmbiff
Terminal=false
StartupNotify=false
Categories=Application;Utility;
