[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-ganttproject
Comment=GanttProject File
Comment[es]=Archivo de GanttProject
Comment[tr]=GanttProject Dosyası
Icon=ganttproject
Type=MimeType
Patterns=*.gan;
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.gan
