[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Secondlife
Name[tr]=Secondlife
GenericName=Second Life
GenericName[tr]=Second Life
Icon=secondlife
Exec=secondlife
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame
