[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=The Ur-Quan Masters(OpenGL)
Comment=A port of Star Control II for modern personal computers
Icon=uqm
Exec=uqm -o -f --scale=bilinear --res=1024x768
Terminal=false
StartupNotify=false
Categories=Game;AdventureGame;StrategyGame;

