[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=The Ur-Quan Masters
Comment=A port of Star Control II for modern personal computers
Icon=uqm
Exec=uqm
Terminal=false
StartupNotify=false
Categories=Game;AdventureGame;StrategyGame;

