[Desktop Entry]
Encoding=UTF-8
Name=SearchMonkey
Exec=searchmonkey
Icon=/usr/share/searchmonkey/pixmaps/searchmonkey-32x32.png
Type=Application
Comment=Tool for finding files/folders
Comment[tr]=Dosya/dizin bulma aracı
X-KDE-StartupNotify=true
Terminal=false
Categories=Utility;X-KDE-Utilities-File;