[Desktop Entry]
Name=SoundTracker
Exec=/usr/bin/soundtracker
Categories=Application;AudioVideo;
Comment=Module Player / Editor
comment[tr]=Modül çalıcı ve düzenleyici
Encoding=Legacy-Mixed
GenericName=
Icon=/usr/share/pixmaps/soundtracker.png
StartupNotify=true
Terminal=0
Type=Application
