[Desktop Entry]
Encoding=UTF-8
Name=Trackballs
Name[tr]=Trackballs
Comment=Trackballs
Comment[tr]=Trackballs
Exec=/usr/bin/trackballs
Icon=trackballs.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
