[Desktop Entry]
Encoding=UTF-8
Name=Lâle
Name[tr]=Lâle sözlük
Exec=lale
Icon=lale.png
Type=Application
Categories=Qt;KDE;Utility;
Comment=A Turkish Dictionary
Comment[tr]=Sözlük Uygulaması
GenericName=Dictionary Application
GenericName[tr]=Sözlük Uygulaması
