[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=GNUitar
Name[tr]=GNUitar
GenericName=Tablature Editor for Music Instruments
GenericName[tr]=Müzikal Aletler için Grafik Düzenleyici
Icon=gnuitar
Exec=gnuitar
Terminal=false
StartupNotify=false
Categories=KDE;Application;AudioVideo;
