[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Gnuitar
Name[tr]=Gnuitar
GenericName=Tablature editor for music instruments
GenericName[tr]=Müzikal aletler için grafik editör
Icon=/usr/share/pixmaps/gnuitar.png
Exec=gnuitar
Terminal=false
StartupNotify=false
Categories=KDE;Application;AudioVideo;