[Desktop Entry]
Name=T.E.G.
Name[es]=T.E.G.
Name[de]=T.E.G.
Comment=Tenes Empanadas Graciela client
Comment[es]=Cliente del Tenes Empanadas Graciela
Comment[de]=Client fr Tenes Empanadas Graciela
Categories=Game;Tactic&Strategy;
Encoding=UTF-8
Exec=tegclient
Icon=teg_icono.png
Terminal=false
Type=Application
