[Desktop Entry]
Encoding=UTF-8
Version=0.9
Type=Application
Name=DeSmuME (Gtk-Glade)
Name[tr]=DeSmuME (Gtk-Glade)
Comment=Nintento DS emulator
Comment[tr]=Nintento DS emülatörü
TryExec=desmume-glade
Exec=desmume-glade
Icon=DeSmuME.xpm
Categories=Application;Game;Emulator
