[Desktop Entry]
Encoding=UTF-8
Name=xmGrace
Name[de]=xmGrace
Comment=2D Plotting Tool
Comment[de]=Erstellen von 2D-Diagrammen
GenericName=2D-Plotting Tool
GenericName[tr]=2B Çizim Aracı
Exec=xmgrace
Icon=grace
Terminal=false
Type=Application
Categories=Application;Science;
