[Desktop Entry]
Categories=QT;KDE;Multimedia;AudioVideo;
Comment=
Comment[tr]=
Encoding=UTF-8
Exec=milkytracker
GenericName=Mod Tracker
GenericName[tr]=Mod Tracker
Icon=/usr/kde/3.5/share/icons/default.kde/48x48/actions/artsaudiomanager.png
MimeType=
Name=Milky Tracker
Name[tr]=Milky Tracker
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
