[Desktop Entry]
Name=Qgis
Type=Application
Exec=qgis
Comment=Geographic Information System
comment[tr]=Coğrafi Bilgi Sistemi
GenericName=Geographic Information System (GIS)
GenericName[tr]=Coğrafi Bilgi Sistemi (GIS)
Icon=/usr/share/pixmaps/qgis.png
Categories=Application;Education;Science;Geography
