[Desktop Entry]
Categories=Qt;KDE;Application;System;
Comment=
Comment[tr]=
Encoding=UTF-8
Exec=systester
GenericName=Sistem Kararlılık Ölçer
GenericName[tr]=Sistem Kararlılık Ölçer
Icon=systester
MimeType=
Name=SysTester
Name[tr]=SysTester
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
