[Desktop Entry]
Categories=Qt;KDE;Application;Utility;
Comment=
Comment[tr]=
Encoding=UTF-8
Exec=systester
GenericName=Sistem Kararlılık Ölçer
GenericName[tr]=Sistem Kararlılık Ölçer
Icon=systester
Name=SysTester
Name[tr]=SysTester
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
