[Desktop Entry]
Encoding=UTF-8
MultipleArgs=false
Terminal=false
Exec=klogshow
Icon=klogshow.png
Type=Application
Categories=Qt;System;Monitor;
StartupNotify=false
Name=KLogShow
GenericName=Sistem Günlüğü İzleyici
