[Desktop Entry]
Encoding=UTF-8
Name=Kumula Businnes Software Suite
Name[de]=Kumula
Name[fr]=Kumula
Name[tr]=Kumula 
Exec=kumula
Icon=kumula
Type=Application
Comment=Kumula is designed to become a complete software suite for business needs.
Comment[de]=
Comment[es]=
Comment[fr]=
Comment[hu]=
Comment[pt]=
Comment[pt_BR]=
Comment[sl]=
Comment[sv]=
Comment[tr]=
