[Desktop Entry]
Categories=Application;Development;
Comment=Subversion Gui Client
Comment[tr]=Subversion İstemcisi
Encoding=UTF-8
Exec=rapidsvn
GenericName=Subversion Gui Client
GenericName[tr]=Subversion İstemcisi
Icon=rapidsvn.xpm
MimeType=
Name=RapidSvn
Name[tr]=RapidSvn
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
