[Desktop Entry]
Categories=Application;Translation;Office;Dictionary;Education;QT;
Comment=Test programı
Comment[tr]=Test programı
Encoding=UTF-8
Exec=imtihan
GenericName=Kpds test programı
GenericName[tr]=Kpds test programı
Icon=kwrite2
MimeType=
Name=Imtihan
Name[tr]=Imtihan
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
