# KDE Config File  
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kwirc -caption "%c" %i %m  
Icon=kwirc.png
DocPath=kwirc/index.html
Comment="IRC Client"
GenericName[tr]=IRC istemcisi
Comment[tr]=IRC istemcisi
Terminal=0
Name=Kwirc
Categories=Qt;KDE;Network 
