[Desktop Entry]
Encoding=UTF-8
Name=Azureus
Comment=BitTorrent Client
Comment[tr]=BitTorrent İstemcisi
Comment[de]=BitTorrent Client
GenericName=BitTorrent Client
GenericName[tr]=BitTorrent İstemcisi
GenericName[de]=BitTorrent Client
Exec=azureus
Icon=Azureus.png
Terminal=false
Type=Application
Categories=Application;Network;Java
