[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=vitetris
Name[tr]=vitetris
GenericName=Text-mode Tetris
GenericName[tr]=Tetris Oyunu
Icon=vitetris
Exec=vitetris
Terminal=true
StartupNotify=false
Categories=Application;Game;LogicGame;