[Desktop Entry]
Name=Nextview TV Browser
GenericName=EPG decoder software.
GenericName[tr]=EPG yorumlayıcı
Icon=/usr/share/pixmaps/nxtvepg.png
Exec=nxtvepg
Terminal=false
Type=Application
Categories=Application;AudioVideo;X-Red-Hat-Base;
Encoding=UTF-8