[Desktop Entry]
Name=Nextview TV Browser
Comment=Browse through TV Nextview information.
Comment[tr]=Gösterilecek TV proğramlarını tara
Icon=nxtvepg.png
Exec=nxtvepg
Terminal=false
Type=Application
Categories=Application;AudioVideo;X-Red-Hat-Base;
Encoding=UTF-8

