[Desktop Entry]
Encoding=UTF-8
Name=reKordmydesktop
Exec=reKordmydesktop
Icon=camera
Type=Application
Comment=Gui to control recordmydesktop
Comment[tr]=Recordmydesktop programını kontrol etmek için arayüz
Categories=Qt;KDE;Utility;