[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Logisim
Name[tr]=Logisim
GenericName=Tool for logic circuit design and simulation
GenericName[tr]=Mantık devresi tasarımı ve simülasyonu aracı
Exec=logisim
Icon=logisim
Categories=Application;Education;Science;
