[Desktop Entry]
Encoding=UTF-8
Version=1.0
GenericName=Mged
GenericName[tr]=Mged
Comment=BRL-CAD Gui and Console
Exec=/usr/brlcad/bin/mged
Terminal=true
Type=Application
Icon=brlcad.png
StartupNotify=false
Categories=Application;Graphics;Engineering;

