[Desktop Entry]
Encoding=UTF-8
Name=Turquaz
Comment=Turquaz
Exec=turquaz.sh
Icon=/usr/share/pixmaps/turquaz_paw.gif
Terminal=false
Type=Application
Categories=Qt;KDE;Office;
