[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Torrent
Name[tr]=Torrent
GenericName=Match rising tiles game
GenericName[tr]=Parça eşleştirme oyunu
Exec=torrent
Icon=torrentgame
Categories=Application;Game;
