[Desktop Entry]
Encoding=UTF-8
Name=CGoban
Comment="Go Game"
Comment[tr]="Go Oyunu"
GenericName=Go Game
GenericName[tr]=Go Oyunu
Exec=cgoban
Icon=cgoban
Terminal=false
Type=Application
Categories=Application;Game
