[Desktop Entry]
Encoding=UTF-8
Name=C-Dogs
Comment=C-Dogs Game
Comment[tr]=C-Dogs Oyunu
Exec=cdogs -scale
Icon=cdogs.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
