[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=lives %F
Icon=lives-32.png
GenericName=Video Editor and Recorder
GenericName[tr]=Goruntu Düzenleyici ve Kaydedici
Name=Lives
Categories=AudioVideo;
MimeType=audio/basic;audio/x-mp3;audio/vorbis;audio/x-oggflac;audio/x-vorbis;audio/x-wav;audio/x-aiff
