[Desktop Entry]
Name=Enemy Territory 
Name[tr]=Enemy Territory
Comment=Multiplayer fps Game 
Comment[tr]=Coklu fps türünde oyun
Categories=Game;ArcadeGame;
Encoding=UTF-8
Exec=et
Icon=ET.xpm
Terminal=false
Type=Application
