[Desktop Entry]
Encoding=UTF-8
Exec=tuxtype2
Name=Tuxtype
Name[tr]=Tuxtype

Type=Application
GenericName=Typing Tutor
GenericName[tr]=Yazim özel öğretmen
Terminal=false
Icon=/usr/share/tuxtype2/data/images/hands/hands.png
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;
