[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=SMW
GenericName=Super Mario Wars
GenericName[tr]=Süper Mario Savaşları
Comment=A Super Mario Clone
Comment[tr]=Bir Süper Mario Klonu
Icon=smw
Exec=smw
Terminal=0
Categories=Application;Game;
