[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=SMW Level Editor
Name[tr]=SMW Bölüm Düzenleyici
GenericName=Super Mario Wars Level Editor
GenericName[tr]=Super Mario Savaşları Bölüm Düzenleyici
Icon=smw
Exec=leveledit
Terminal=0
Categories=Application;Game;
