[Desktop Entry]
Name=Enemy Territory
Comment=Enemy Territory
Exec=et
Icon=/usr/share/pixmaps/ET.xpm
Type=Application
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame
