[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Trix
Name[tr]=Trix
GenericName=Trix
GenericName[tr]=Trix
Icon=/usr/share/trix/gfx/automessage.png
Exec=trix
Terminal=false
StartupNotify=false
Categories=Qt;Network;
