[Desktop Entry]
Type=Application
Exec=cssed
Icon=cssed
Comment=Css Editor
Comment[tr]=Css Düzenleyici
GenericName=Css Editor
GenericName[tr]=Css Düzenleyici
Terminal=false
Name=Css Editor
Encoding=UTF-8
Categories=GTK;Application;Development;
