# KDE Config File  
[KDE Desktop Entry]
Version=1.0
Type=Application
TryExec=ksimus
Exec=ksimus -caption "%c" %i %m %u
Icon=ksimus.png
MiniIcon=ksimus.png
DocPath=ksimus/index.html
Comment=KSimus is a tool for simulation, automatization and visualization of technical processes.
Categories=Education;Science;
Terminal=0
Name=KSimus
MimeType=application/x-ksimus
InitialPreference=100



