[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Manencode
GenericName=Video Creator
GenericName[tr]=Video Düzenleyici
Icon=manencode.png
TryExec=manencode
Exec=manencode
Terminal=false
Categories=Qt;KDE;Application;Graphics;
