[Desktop Entry]
Categories=Qt;Application;Utility;
Encoding=UTF-8
Exec=boncuk
GenericName=Online/Offline Dictionary
GenericName[tr]=Çevrimiçi ve Çevrimdışı Sözlük
Icon=boncuk
Name=Boncuk
StartupNotify=false
Terminal=false
Type=Application
