[Desktop Entry]
Encoding=UTF-8
Name=xrope
Icon=xrope
Exec=xrope
Type=Application
Categories=KDE;Development;
GenericName=Python IDE
GenericName[tr]=Python için geliştirme ortamı
