[Desktop Entry]
Encoding=UTF-8
Exec=kicad
Name=KiCad
Name[fr]=KiCad
GenericName=Electronic schematic and PCB design tools
GenericName[tr]=Elektronik şematik ve PCB dizayn araçları
Icon=kicad.png
StartupNotify=true
Type=Application
Categories=Qt;KDE;Education;Science;
