[Desktop Entry]
Name=DynaGui
Name[tr]=DynaGui
GenericName=Cisco simulator interface
GenericName[tr]=Cisco simulatör arayüzü
Comment=Cisco simulator interface
Comment[tr]=Cisco simulatör arayüzü
Type=Application
Categories=Qt;KDE;Network;Simulator
Terminal=false
Encoding=UTF-8
Icon=dynagui
Exec=dynagui
