[Desktop Entry]
Type=Application
Version=1.0
Name=Launchy
Name[tr]=Launchy
GenericName=Fast Launcher
GenericName[tr]=Hızlı Başlatıcı
Exec=launchy %u
Terminal=false
X-MultipleArgs=false
Icon=launchy
Categories=Utility;

