[Desktop Entry]
Encoding=UTF-8
Comment=GCstar Data File
Comment[tr]=GCstar Veri Dosyası
DefaultApp=gcstar
Icon=gcstar
MimeType=application/x-gcstar;
Patterns=*.gcs;
Type=MimeType
X-KDE-AutoEmbed=false