[Desktop Entry]
Type=Application
Version=1.7.0
Encoding=UTF-8
Name=MassXpert
Name[tr]=MassXpert
GenericName=(Bio)Chemistry Software
GenericName[tr]=Biyokimya Yazılımı
Icon=massxpert
Exec=massxpert
Terminal=false
StartupNotify=false
Categories=Qt;KDE;Education;Science;
