[Desktop Entry]
Encoding=UTF-8
Name=amaroKopete
Name[tr]=amaroKopete
GenericName[tr]=Kopete için Amarok Eklentisi
Exec=amaroKopete
Icon=amaroKopete
Type=Application
Comment=Amarok script for Kopete
Comment[tr]=Kopete için Amarok Eklentisi
Categories=KDE;Network;
