[Desktop Entry]
Encoding=UTF-8
Name=KEnvy24
Exec=kenvy24gui
Icon=kenvy24gui
Type=Application
Terminal=false
Comment=ICE1712 (Via Envy24) Sound Card Control Utility, for KDE
GenericName[tr]=Via Envy24 tabanlı ses kartı denetim aracı
GenericName[fr]=Pilotage des cartes son basées sur Via Envy24
GenericName[en]=Via Envy24 sound card control utility
Categories=Application;AudioVideo;
