[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Peg Solitaire
Name[tr]=Peg Solitaire
GenericName=Hi-Q Game
GenericName[tr]=Solo Test Oyunu
Icon=pegsolitaire
Exec=pegsolitaire
Terminal=false
StartupNotify=false
Categories=Application;Game;LogicGame;