[Desktop Entry]
Encoding=UTF-8
Name=Dark Oberon
Name[tr]=Dark Oberon
Comment=Dark Oberon
Comment[tr]=Dark Oberon
Exec=dark-oberon
Icon=dark-oberon.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
