[Desktop Entry]
Name=Miniracer
Name[tr]=Miniracer
Comment=Miniracer
GenericName=OpenGL car racing
GenericName[tr]=OpenGL Araba Yarışı
Exec=miniracer
Icon=/usr/share/pixmaps/miniracer.png
Type=Application
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame
