[Desktop Entry]
Name=ToyCars
Name[tr]=ToyCars
Comment=ToyCars
GenericName=Car Race
GenericName[tr]=Araba Yarışı
Exec=toycars
Icon=/usr/share/pixmaps/toycars.png
Type=Application
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame
