[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=FET
GenericName=Timetable generator
GenericName[tr]=Ders programı üreteci
Exec=fet
Icon=fet
Terminal=false
Categories=Qt;KDE;Education
